In [1]:
import pandas as pd
import datetime

In [23]:
df = pd.DataFrame({'A':['02-02-2011','03-03-2011']})

In [24]:
df['date'] = pd.to_datetime(df.A)

In [25]:
df

            A       date
0  02-02-2011 2011-02-02
1  03-03-2011 2011-03-03

In [26]:
df.date.dt.to_period('M')

0    2011-02
1    2011-03
Name: date, dtype: period[M]

In [27]:
df.date.dt.dayofweek

0    2
1    3
Name: date, dtype: int64